<!-- Button trigger modal -->
<center><button type="button" class="btn btn-primary disabled" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Download Trail Maps & Brochures
</button></center>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Mount Kato Brochures & Maps</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <center><iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfP7WFHxmVCW9tIBd3Ll3SUurAeud7VLdqYDGtNXsoW2VWJTA/viewform?embedded=true" width="450
        " height="1200" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe></center>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>