<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-10 col-lg-8">
      <div class="card shadow" style="width: 100%;">
        <img src="/assets/image/Brochures-Summer-2-Brochures.png" class="card-img-top" alt="...">
        <div class="card-body justify-content-center">
          <h5 class="card-title text-primary text-center">Brochure & Map  PDF Downloads</h5>
          <p class="card-text text-center">Print them out or keep them on your device</p>
          {% include brochure_n_map_downloads.html %}
        </div>
      </div>
    </div>
  </div>
</div>
