/* Error: Expected newline.
 *   ,
 * 4 | :root {
 *   |       ^
 *   '
 *   scss/chatbot.sass 4:7     @import
 *   scss/theme_uno.scss 63:9  @import
 *   theme-uno.scss 18:9       root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Expected newline.\a   \2577 \a 4 \2502  :root {\a   \2502        ^\a   \2575 \a   scss/chatbot.sass 4:7     @import\a   scss/theme_uno.scss 63:9  @import\a   theme-uno.scss 18:9       root stylesheet";
}
